<div class='welcome'>
  <h2>Follow all your favorite peeps!</h2>
  <p>
    Subscribe to your favorite tweets, blog posts, tumblrs, and more!
  </p>
  <% unless current_user %>
  <hr>
  <!-- need to create permanent cookie to display only options user has already signed in with -->

  <h4>Sign in with:</h4>
    <div class="icons">
      <%= link_to (image_tag "twitter.png"), "/auth/twitter", title: "Twitter"%>
      <%= link_to (image_tag "tumblr.png"), "/auth/tumblr", title: "Tumblr" %>
    </div>
  <% end %>
</div>
