<% @search.each do |r| %>

<div class="row">
  
    <div class="col-md-2">
    </div>
    <div class="col-md-1" align="right" height="80px" >
      <%= link_to (image_tag "pastel-tw.png"), " " %> 
    </div>
    <div class="col-md-1">
      <div class="avatar">
        <%= image_tag("#{r.profile_image_url}", :class=> "img-thumbnail", :size=> "80x80") %> 
      </div>
    </div>
    <div class="col-md-7">
        <div class="text">
          <div class="author">
            <%= link_to r.screen_name, authors_path(author: create_author_hash(r)), method: :post %>
          </div>
          <p>
          <!-- Text from blog here -->
          </p>
          <div class="meta">
            <div class="datetime">
             <!--  Insert Date and Time -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <br>
  <% end %>



