<%= form_tag search_tum_path, :class =>"navbar-form navbar-right", method: 'post' do %>
    <div class="form-group">
      <input type="text" name="search_tum" class="form-control" placeholder="Search Tumblr">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  <% end %>