/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: linear-gradient(150deg, powderblue, papayawhip, lightpink);
  background-repeat: repeat-x;
}
hr {
  border: 0;
  color: white;
  height: 10px;
}

.sign_in, .welcome {
  color: cornflowerblue;
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
  /*border: 1px solid black;*/
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  /*background-color: cornsilk;*/
}

.notice {
  width: 500px;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  color: lemonchiffon;
  background: linear-gradient(to right, thistle, transparent );
  border-radius: 25px;
  margin-bottom: 10px;
  text-align: left;
  /*border: 1px solid black;*/
}

.icons:hover alt {
  visibility: visible;
}
.post_date {
  font-style: italic;
}

.author {
  color: seagreen;
  font-weight: 700;
}

/*User Account nav links */
#profiletabs {
  display      : block;
  margin: auto;
}
 
#profiletabs ul { list-style: none; display:block; width:800px; height: 50px;  margin: 0 auto;}
#profiletabls ul li { float: left; }
#profiletabs ul li a { 
  display                          : block;
  float                            : left;
  padding                          : 8px 11px;
  font-size                        : 1.2em;
  font-weight                      : bold;
  margin-right                     : 7px;
  border                           : 1px solid #fff;
  -webkit-border-radius            : 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius               : 5px;
  -moz-border-radius-bottomleft    : 0;
  border-radius                    : 5px;
  border-bottom-left-radius        : 0;
  width                            :235px;
  text-align                       : center;
}
#profiletabs ul li a:hover {
  text-decoration: none;
}
 
#profiletabs ul li a.sel {
  border-color: #FFC0CB;
}

.hidden {
  display: none;
}
 